In [130]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium .webdriver.common.by import By
import time
import warnings
from selenium.common.exceptions import NoSuchElementException,WebDriverException
warnings.filterwarnings("ignore")

In [131]:
driver=webdriver.Chrome(r'C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe')

# Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

In [103]:
url=' https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [108]:
Rank = []
Name = []
Artist = []
Date = []
Views = []

In [110]:
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("-")

In [118]:
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text.strip(''))
except NoSuchElementException:
    Name.append("-")

In [113]:
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]"):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("-")

In [114]:
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]"):
        Date.append(i.text)
except NoSuchElementException:
    Date.append("-")

In [115]:
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("-")

In [116]:
pd.DataFrame({'Rank':Rank,'Name':Name,'Artist':Artist,'Date':Date,'Views':Views})

,Rank,Name,Artist,Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.09
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.94
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.41
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.78
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.59
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.55
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.79
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.65
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.60
9,10.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.51
10,11.,"""Masha and the Bear – Recipe for Disaster""[29]",Get Movies,"January 31, 2012",4.50
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.25
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",4.01
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.74
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.63
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.62
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.57
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.48
18,19.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.46
19,20.,"""Baa Baa Black Sheep""[38]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.32
20,21.,"""Dark Horse""[39]",Katy Perry,"February 20, 2014",3.32
21,22.,"""Faded""[40]",Alan Walker,"December 3, 2015",3.32
22,23.,"""Girls Like You""[41]",Maroon 5,"May 31, 2018",3.32
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.27
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.25
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.24
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.22
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.21
28,29.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.19
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.12

# Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:

In [92]:
url='https://www.bcci.tv/'
driver.get(url)

In [94]:
viewall=driver.find_element(By.XPATH,'/html/body/div[5]/div/div[2]/div/div[2]/div/div[1]/div[2]/a')

In [95]:
viewall.click()

In [96]:
date=[]
try:
    DATE=driver.find_elements(By.XPATH,'//div[@class="match-card-left match-schedule"]')
    for i in DATE:
        date.append(i.text)
except NoSuchElementException:
    date.append('-')

In [97]:
date

['18 AUG 2022', '20 AUG 2022', '22 AUG 2022']

In [98]:
time=[]
try:
    TIME=driver.find_elements(By.XPATH,'//div[@class="match-card-right match-schedule "]')
    for i in TIME:
        time.append(i.text)
except NoSuchElementException:
    time.append('-')

In [99]:
time

['12:45 PM IST', '12:45 PM IST', '12:45 PM IST']

In [100]:
link=[]
try:
    LINK=driver.find_elements(By.XPATH,'//a[@class="match-center-btn ng-scope"]')
    for i in LINK:
        link.append(i.get_attribute('href'))
except NoSuchElementException:
        link.append('-')

In [101]:
link

['https://www.bcci.tv/events/77/india-tour-of-zimbabwe-odi-series-2022/match/618/1st-odi',
 'https://www.bcci.tv/events/77/india-tour-of-zimbabwe-odi-series-2022/match/619/2nd-odi',
 'https://www.bcci.tv/events/77/india-tour-of-zimbabwe-odi-series-2022/match/620/3rd-odi']

In [104]:
TITLE=[]
for i in link:
    driver.get(i)
    try:
        title=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div[3]/div/div[2]/div[2]/div/div/div/ul/li[1]/span[2]')
        TITLE.append(title.text)
    except NoSuchElementException:
        TITLE.append('-')

In [105]:
TITLE

['', '', 'INDIA TOUR OF ZIMBABWE ODI SERIES 2022']

In [111]:
MATCH=[]
for i in link:
    driver.get(i)
    try:
        match=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div[3]/div/div[2]/div[2]/div/div/div/ul/li[2]/span[2]')
        MATCH.append(match.text)
    except NoSuchElementException:
        MATCH.append('-')

In [112]:
MATCH

['Zimbabwe VS India', 'Zimbabwe VS India', '']

In [114]:
VENUE=[]
for i in link:
    driver.get(i)
    try:
        venue=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/div[3]/div[6]/div[4]/div[2]/div[2]/div/div/ul/li[3]/span[2]')
        VENUE.append(venue.text)
    except NoSuchElementException:
        VENUE.append('-')

In [116]:
VENUE

['-', '-', '-']

In [117]:
df=pd.DataFrame({'TITLE':TITLE,'MATCH':MATCH,'VENUE':VENUE,'DATE':date,'TIME':time})

In [118]:
df

,TITLE,MATCH,VENUE,DATE,TIME
0,,Zimbabwe VS India,-,18 AUG 2022,12:45 PM IST
1,,Zimbabwe VS India,-,20 AUG 2022,12:45 PM IST
2,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,,-,22 AUG 2022,12:45 PM IST

# Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:

In [130]:
url='https://www.guru99.com/'
driver.get(url)

In [131]:
sel=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a')

In [132]:
sel.click()

In [133]:
tut=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a')

In [134]:
tut.click()

In [141]:
exc=driver.find_elements(By.XPATH,'//table[@class="code-block code-block-1"]/tbody/tr/td')

In [148]:
EXC=[]
for i in exc:
    EXC.append(i.text)

In [151]:
EXC_1=EXC[0::2]

In [155]:
EXC_2=EXC[1::2]

In [156]:
df=pd.DataFrame({'EXCEPTIONS':EXC_1,'DESCRIPTION':EXC_2})

In [158]:
df

,EXCEPTIONS,DESCRIPTION
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [159]:
df.to_csv('selenium Exceptions.csv',index=True)

# Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:

In [ ]:
# url='https://www.statisticstimes.com/'
driver.get(url)

In [169]:
drop_down=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]')

In [170]:
drop_down.click()

In [171]:
ind=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')

In [172]:
ind.click()

In [174]:
ind_s=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]')

In [175]:
ind_s.click()

In [176]:
rank=driver.find_elements(By.XPATH,'//td[@class="data1"]')

In [177]:
RANK=[]
for i in rank:
    RANK.append(i.text)

In [219]:
RANK=RANK[0:33]

In [179]:
state=driver.find_elements(By.XPATH,'//td[@class="name"]')

In [205]:
STATE=[]
for i in state:
    STATE.append(i.text)

In [222]:
STATE=STATE[0:33]

In [182]:
gsdp_1=driver.find_elements(By.XPATH,'//td[@class="data"]')

In [183]:
GSDP_1=[]
for i in gsdp_1:
    GSDP_1.append(i.text)

In [208]:
len(GSDP_1)

308

In [213]:
GSDP_2=GSDP_1[0::5]
GSDP_2=GSDP_2[0:33]

In [221]:
len(GSDP_2)

33

In [215]:
GSDP_3=GSDP_1[1::5]
GSDP_3=GSDP_3[0:33]

In [194]:
GDP=GSDP_1[2::5]

In [216]:
GDP=GDP[0:33]

In [196]:
shares=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')

In [197]:
SHARES=[]
for i in shares:
    SHARES.append(i.text)

In [217]:
SHARES=SHARES[0:33]

In [223]:
df=pd.DataFrame({'RANK':RANK,'STATE':STATE,'GSDP(19-20)':GSDP_2,'GSDP(18-19)':GSDP_3,'GDP':GDP,'SHARES':SHARES})

In [224]:
df

   RANK                      STATE GSDP(19-20) GSDP(18-19)      GDP  SHARES
0     1                Maharashtra           -   2,632,792  399.921  13.94%
1     2                 Tamil Nadu   1,845,853   1,630,208  247.629   8.63%
2     3              Uttar Pradesh   1,687,818   1,584,764  240.726   8.39%
3     4                    Gujarat           -   1,502,899  228.290   7.96%
4     5                  Karnataka   1,631,977   1,493,127  226.806   7.91%
5     6                West Bengal   1,253,832   1,089,898  165.556   5.77%
6     7                  Rajasthan   1,020,989     942,586  143.179   4.99%
7     8             Andhra Pradesh     972,782     862,957  131.083   4.57%
8     9                  Telangana     969,604     861,031  130.791   4.56%
9    10             Madhya Pradesh     906,672     809,592  122.977   4.29%
10   11                     Kerala           -     781,653  118.733   4.14%
11   12                      Delhi     856,112     774,870  117.703   4.10%
12   13                    Haryana     831,610     734,163  111.519   3.89%
13   14                      Bihar     611,804     530,363   80.562   2.81%
14   15                     Punjab     574,760     526,376   79.957   2.79%
15   16                     Odisha     521,275     487,805   74.098   2.58%
16   17                      Assam           -     315,881   47.982   1.67%
17   18               Chhattisgarh     329,180     304,063   46.187   1.61%
18   19                  Jharkhand     328,598     297,204   45.145   1.57%
19   20                Uttarakhand           -     245,895   37.351   1.30%
20   21            Jammu & Kashmir           -     155,956   23.690   0.83%
21   22           Himachal Pradesh     165,472     153,845   23.369   0.81%
22   23                        Goa      80,449      73,170   11.115   0.39%
23   24                    Tripura      55,984      49,845    7.571   0.26%
24   25                 Chandigarh           -      42,114    6.397   0.22%
25   26                 Puducherry      38,253      34,433    5.230   0.18%
26   27                  Meghalaya      36,572      33,481    5.086   0.18%
27   28                     Sikkim      32,496      28,723    4.363   0.15%
28   29                    Manipur      31,790      27,870    4.233   0.15%
29   30                   Nagaland           -      27,283    4.144   0.14%
30   31          Arunachal Pradesh           -      24,603    3.737   0.13%
31   32                    Mizoram      26,503      22,287    3.385   0.12%
32   33  Andaman & Nicobar Islands           -           -        -       -

# Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:

In [ ]:
url='https://github.com/'
driver.get(url)

In [6]:
explore=driver.find_element(By.XPATH,'/html/body/div[1]/header/div[3]/nav/a[4]')

In [7]:
explore.click()

In [8]:
trending=driver.find_element(By.XPATH,'/html/body/div[5]/main/div[1]/nav/div/a[3]')

In [9]:
trending.click()

In [10]:
link=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]/a')

In [13]:
LINK=[]
for i in link:
    LINK.append(i.get_attribute('href'))

In [14]:
LINK

['https://github.com/toeverything/AFFiNE',
 'https://github.com/jwasham/coding-interview-university',
 'https://github.com/iptv-org/iptv',
 'https://github.com/ventoy/Ventoy',
 'https://github.com/MarlinFirmware/Marlin',
 'https://github.com/Dreamacro/clash',
 'https://github.com/arthurspk/guiadevbrasil',
 'https://github.com/donnemartin/system-design-primer',
 'https://github.com/MatrixTM/MHDDoS',
 'https://github.com/t3-oss/create-t3-app',
 'https://github.com/punk-security/dnsReaper',
 'https://github.com/juliocesarfort/public-pentesting-reports',
 'https://github.com/facebookresearch/ParlAI',
 'https://github.com/utmapp/UTM',
 'https://github.com/theboy181/switch-ptchtxt-mods',
 'https://github.com/Asabeneh/30-Days-Of-React',
 'https://github.com/github/docs',
 'https://github.com/josephmisiti/awesome-machine-learning',
 'https://github.com/PKUFlyingPig/cs-self-learning',
 'https://github.com/jina-ai/discoart',
 'https://github.com/trickest/cve',
 'https://github.com/HIT-UG-Group/DeepLearning-MuLi-Notes',
 'https://github.com/hyprwm/Hyprland',
 'https://github.com/EbookFoundation/free-programming-books',
 'https://github.com/moyix/fauxpilot']

In [15]:
TITLE=[]
for i in LINK:
    driver.get(i)
    try:
        title=driver.find_element(By.XPATH,'/html/body/div[5]/div/main/div/div[1]/div/div/span[1]/a')
        TITLE.append(title.text)
    except NoSuchElementException:
        TITLE.append('-')

In [16]:
TITLE

['toeverything',
 'jwasham',
 'iptv-org',
 'ventoy',
 'MarlinFirmware',
 'Dreamacro',
 'arthurspk',
 'donnemartin',
 'MatrixTM',
 't3-oss',
 'punk-security',
 'juliocesarfort',
 'facebookresearch',
 'utmapp',
 'theboy181',
 'Asabeneh',
 'github',
 'josephmisiti',
 'PKUFlyingPig',
 'jina-ai',
 'trickest',
 'HIT-UG-Group',
 'hyprwm',
 'EbookFoundation',
 'moyix']

In [26]:
DESC=[]
for i in LINK[0:3]:
    driver.get(i)
    try:
        desc=driver.find_element(By.XPATH,'/html/body/div[5]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[1]/div/p')
        DESC.append( desc.text)
    except NoSuchElementException:
        DESC.append('-')
    except TimeoutException:
        DESC.append('-')

In [27]:
LANG_U=[]
for i in LINK:
    driver.get(i)
    try:
        lang_u=driver.find_element(By.XPATH,'/html/body/div[5]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[7]/div/ul')
        LANG_U.append(lang_u.text)
    except WebDriverException :
        LANG_U.append('-')

In [29]:
contributers=[]
for i in LINK[0:3]:
    driver.get(i)
    try:
        con=driver.find_element(By.XPATH,'/html/body/div[5]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[5]/div/h2/a/span')
        contributers.append(con.text)
    except WebDriverException :
         contributers.append('-')

In [ ]:
df=pd.DataFrame({'TITLE':TITLE[0:3],'DESCRIPTION':DESC,'LANGUAGE_USED':LANG_U,'CONTRIBUTERS_COUNT':contributers})

# Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details

In [34]:
url='https://www.billboard.com/'
driver.get(url)

In [41]:
hot100=driver.find_element(By.XPATH,'/html/body/div[3]/header/div[2]/div/nav/ul/li[1]/a')

In [ ]:
hot100.click()

In [43]:
tit=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')

In [44]:
TIT=[]
for i in tit:
    TIT.append(i.text)

In [46]:
len(TIT)

99

In [49]:
tit_1=driver.find_element(By.XPATH,'/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/h3').text

In [51]:
tit_1

'About Damn Time'

In [57]:
TITLE=[tit_1,*TIT]

In [59]:
len(TITLE)

100

In [60]:
artist=driver.find_element(By.XPATH,'/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/span').text

In [61]:
artist

'Lizzo'

In [64]:
artist_1=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')

In [65]:
art=[]
for i in artist_1:
    art.append(i.text)

In [67]:
len(art)

99

In [68]:
ARTIST=[artist,*art]

In [69]:
len(ARTIST)

100

In [80]:
lastweek_1=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[4]/span').text

In [90]:
lastweek_1

'1'

In [72]:
Lastweek=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')

In [73]:
LW=[]
for i in Lastweek:
    LW.append(i.text)

In [79]:
Last_week_1=LW[0::6]

In [87]:
LASTWEEK=[*lastweek_1,*Last_week_1]

In [89]:
len(LASTWEEK)

100

In [91]:
pe=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[5]/span').text

In [97]:
PE=LW[1::6]

In [98]:
PR=[*pe,*PE]

In [100]:
len(PR)

100

In [101]:
wob=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[6]/span').text

In [110]:
wob

'15'

In [104]:
WOB=LW[2::6]

In [108]:
len(WOB)

99

In [111]:
WEEKLY=[wob,*WOB]

In [112]:
len(WEEKLY)

100

In [113]:
df=pd.DataFrame({'Song_Name':TITLE,'ARTIST_NAME':ARTIST,'LastWeek_Rank':LASTWEEK,'PEAK_RANK':PR,' Weeks_on_board':WEEKLY})

In [115]:
df

,Song_Name,ARTIST_NAME,LastWeek_Rank,PEAK_RANK,Weeks_on_board
0,About Damn Time,Lizzo,1,1,15
1,As It Was,Harry Styles,2,1,17
2,Running Up That Hill (A Deal With God),Kate Bush,3,3,29
3,First Class,Jack Harlow,4,1,16
4,Wait For U,Future Featuring Drake & Tems,5,1,13
...,...,...,...,...,...
95,Te Felicito,Shakira & Rauw Alejandro,95,67,8
96,Are You Entertained,Russ & Ed Sheeran,-,97,1
97,"Bzrp Music Sessions, Vol. 52",Bizarrap & Quevedo,-,98,1
98,Right On,Lil Baby,97,13,15
99,La Corriente,Bad Bunny & Tony Dize,99,32,9

# Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details:

In [118]:
url='https://www.naukri.com/hr-recruiters-consultants'
driver.get(url)

In [120]:
searc_col=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')

In [122]:
searc_col.send_keys('Data Science')

In [123]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')

In [125]:
search_btn.click()

In [126]:
name=driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')

In [128]:
Name=[]
for i in name:
    Name.append(i.text)

In [130]:
len(Name)

50

In [131]:
des=driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')

In [132]:
Des=[]
for i in des:
    Des.append(i.text)

In [133]:
len(Des)

50

In [174]:
comp=driver.find_elements(By.XPATH,'//a[@class="ellipsis"]')

In [175]:
Comp=[]
for i in comp:
    Comp.append(i.text)

In [181]:
COMPANY=len(Comp[1::2])

In [183]:
skils=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')

In [184]:
SKILLS=[]
for i in skils:
    SKILLS.append(i.text)

In [185]:
len(SKILLS)

50

In [203]:
LOC=[]
try:
    loc=driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
    for i in loc:
        LOC.append(i.text)
except NoSuchElementException:
        LOC.append('-')

In [204]:
LOC

['Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Ahmedabad',
 'UK - (london)',
 'Vadodara / Baroda',
 'Chennai',
 'Trivandrum',
 'Indore',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Hyderabad',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Hyderabad / Secunderabad',
 'Bhopal',
 'Chandigarh',
 'Pune',
 'Navi Mumbai',
 'Cochin',
 'Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Delhi',
 'Bengaluru / Bangalore',
 'Mysoru / Mysore',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'New Delhi',
 'Chennai',
 'Aligarh',
 'Salt Lake City',
 'Pune',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Indore',
 'Bengaluru / Bangalore',
 'MYSORE',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Hyderabad / Secunderabad']

In [205]:
loc_1=['nil','nil']

In [206]:
Location=[*LOC,*loc_1]

In [207]:
Location

['Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Ahmedabad',
 'UK - (london)',
 'Vadodara / Baroda',
 'Chennai',
 'Trivandrum',
 'Indore',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Hyderabad',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Hyderabad / Secunderabad',
 'Bhopal',
 'Chandigarh',
 'Pune',
 'Navi Mumbai',
 'Cochin',
 'Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Delhi',
 'Bengaluru / Bangalore',
 'Mysoru / Mysore',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'New Delhi',
 'Chennai',
 'Aligarh',
 'Salt Lake City',
 'Pune',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Indore',
 'Bengaluru / Bangalore',
 'MYSORE',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Hyderabad / Secunderabad',
 'nil',
 'nil']

In [209]:
df=pd.DataFrame({'Name':Name,'Description':Des,'Company':COMPANY,'Skills':SKILLS,'Location':Location})

# . Scrape the details of Highest selling novels.
URL = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
You have to find the following details:

In [3]:
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [4]:
Title=driver.find_elements(By.XPATH,'//td[@class="left"]')

In [5]:
title=[]
for i in Title:
    title.append(i.text)

In [6]:
title

['1',
 'Da Vinci Code,The',
 'Brown, Dan',
 '5,094,805',
 'Transworld',
 '2',
 'Harry Potter and the Deathly Hallows',
 'Rowling, J.K.',
 '4,475,152',
 'Bloomsbury',
 '3',
 "Harry Potter and the Philosopher's Stone",
 'Rowling, J.K.',
 '4,200,654',
 'Bloomsbury',
 '4',
 'Harry Potter and the Order of the Phoenix',
 'Rowling, J.K.',
 '4,179,479',
 'Bloomsbury',
 '5',
 'Fifty Shades of Grey',
 'James, E. L.',
 '3,758,936',
 'Random House',
 '6',
 'Harry Potter and the Goblet of Fire',
 'Rowling, J.K.',
 '3,583,215',
 'Bloomsbury',
 '7',
 'Harry Potter and the Chamber of Secrets',
 'Rowling, J.K.',
 '3,484,047',
 'Bloomsbury',
 '8',
 'Harry Potter and the Prisoner of Azkaban',
 'Rowling, J.K.',
 '3,377,906',
 'Bloomsbury',
 '9',
 'Angels and Demons',
 'Brown, Dan',
 '3,193,946',
 'Transworld',
 '10',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Rowling, J.K.',
 '2,950,264',
 'Bloomsbury',
 '11',
 'Fifty Shades Darker',
 'James, E. L.',
 '2,479,784',
 'Random House',
 '12',
 'Twilight',
 'Meyer, Stephenie',
 '2,315,405',
 'Little, Brown Book',
 '13',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Larsson, Stieg',
 '2,233,570',
 'Quercus',
 '14',
 'Fifty Shades Freed',
 'James, E. L.',
 '2,193,928',
 'Random House',
 '15',
 'Lost Symbol,The',
 'Brown, Dan',
 '2,183,031',
 'Transworld',
 '16',
 'New Moon',
 'Meyer, Stephenie',
 '2,152,737',
 'Little, Brown Book',
 '17',
 'Deception Point',
 'Brown, Dan',
 '2,062,145',
 'Transworld',
 '18',
 'Eclipse',
 'Meyer, Stephenie',
 '2,052,876',
 'Little, Brown Book',
 '19',
 'Lovely Bones,The',
 'Sebold, Alice',
 '2,005,598',
 'Pan Macmillan',
 '20',
 'Curious Incident of the Dog in the Night-time,The',
 'Haddon, Mark',
 '1,979,552',
 'Random House',
 '21',
 'Digital Fortress',
 'Brown, Dan',
 '1,928,900',
 'Transworld',
 '22',
 'Short History of Nearly Everything,A',
 'Bryson, Bill',
 '1,852,919',
 'Transworld',
 '23',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Larsson, Stieg',
 '1,814,784',
 'Quercus',
 '24',
 'Breaking Dawn',
 'Meyer, Stephenie',
 '1,787,118',
 'Little, Brown Book',
 '25',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Carle, Eric',
 '1,783,535',
 'Penguin',
 '26',
 'Gruffalo,The',
 'Donaldson, Julia',
 '1,781,269',
 'Pan Macmillan',
 '27',
 "Jamie's 30-Minute Meals",
 'Oliver, Jamie',
 '1,743,266',
 'Penguin',
 '28',
 'Kite Runner,The',
 'Hosseini, Khaled',
 '1,629,119',
 'Bloomsbury',
 '29',
 'One Day',
 'Nicholls, David',
 '1,616,068',
 'Hodder & Stoughton',
 '30',
 'Thousand Splendid Suns,A',
 'Hosseini, Khaled',
 '1,583,992',
 'Bloomsbury',
 '31',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 'Larsson, Stieg',
 '1,555,135',
 'Quercus',
 '32',
 "Time Traveler's Wife,The",
 'Niffenegger, Audrey',
 '1,546,886',
 'Random House',
 '33',
 'Atonement',
 'McEwan, Ian',
 '1,539,428',
 'Random House',
 '34',
 "Bridget Jones's Diary:A Novel",
 'Fielding, Helen',
 '1,508,205',
 'Pan Macmillan',
 '35',
 'World According to Clarkson,The',
 'Clarkson, Jeremy',
 '1,489,403',
 'Penguin',
 '36',
 "Captain Corelli's Mandolin",
 'Bernieres, Louis de',
 '1,352,318',
 'Random House',
 '37',
 'Sound of Laughter,The',
 'Kay, Peter',
 '1,310,207',
 'Random House',
 '38',
 'Life of Pi',
 'Martel, Yann',
 '1,310,176',
 'Canongate',
 '39',
 'Billy Connolly',
 'Stephenson, Pamela',
 '1,231,957',
 'HarperCollins',
 '40',
 'Child Called It,A',
 'Pelzer, Dave',
 '1,217,712',
 'Orion',
 '41',
 "Gruffalo's Child,The",
 'Donaldson, Julia',
 '1,208,711',
 'Pan Macmillan',
 '42',
 "Angela's Ashes:A Memoir of a Childhood",
 'McCourt, Frank',
 '1,204,058',
 'HarperCollins',
 '43',
 'Birdsong',
 'Faulks, Sebastian',
 '1,184,967',
 'Random House',
 '44',
 'Northern Lights:His Dark Materials S.',
 'Pullman, Philip',
 '1,181,503',
 'Scholastic Ltd.',
 '45',
 'Labyrinth',
 'Mosse, Kate',
 '1,181,093',
 'Orion',
 '46',
 'Harry Potter and the Half-blood Prince',
 'Rowling, J.K.',
 '1,153,181',
 'Bloomsbury',
 '47',
 'Help,The',
 'Stockett, Kathryn',
 '1,132,336',
 'Penguin',
 '48',
 'Man and Boy',
 'Parsons, Tony',
 '1,130,802',
 'HarperCollins',
 '49',
 'Memoirs of a Geisha',
 'Golden, Arthur',
 '1,126,337',
 'Random House',
 '50',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'McCall Smith, Alexander',
 '1,115,549',
 'Little, Brown Book',
 '51',
 'Island,The',
 'Hislop, Victoria',
 '1,108,328',
 'Headline',
 '52',
 'PS, I Love You',
 'Ahern, Cecelia',
 '1,107,379',
 'HarperCollins',
 '53',
 'You are What You Eat:The Plan That Will Change Your Life',
 'McKeith, Gillian',
 '1,104,403',
 'Penguin',
 '54',
 'Shadow of the Wind,The',
 'Zafon, Carlos Ruiz',
 '1,092,349',
 'Orion',
 '55',
 'Tales of Beedle the Bard,The',
 'Rowling, J.K.',
 '1,090,847',
 'Bloomsbury',
 '56',
 'Broker,The',
 'Grisham, John',
 '1,087,262',
 'Random House',
 '57',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Atkins, Robert C.',
 '1,054,196',
 'Random House',
 '58',
 'Subtle Knife,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,037,160',
 'Scholastic Ltd.',
 '59',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 'Truss, Lynne',
 '1,023,688',
 'Profile Books Group',
 '60',
 "Delia's How to Cook:(Bk.1)",
 'Smith, Delia',
 '1,015,956',
 'Random House',
 '61',
 'Chocolat',
 'Harris, Joanne',
 '1,009,873',
 'Transworld',
 '62',
 'Boy in the Striped Pyjamas,The',
 'Boyne, John',
 '1,004,414',
 'Random House Childrens Books G',
 '63',
 "My Sister's Keeper",
 'Picoult, Jodi',
 '1,003,780',
 'Hodder & Stoughton',
 '64',
 'Amber Spyglass,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,002,314',
 'Scholastic Ltd.',
 '65',
 'To Kill a Mockingbird',
 'Lee, Harper',
 '998,213',
 'Random House',
 '66',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Gray, John',
 '992,846',
 'HarperCollins',
 '67',
 'Dear Fatty',
 'French, Dawn',
 '986,753',
 'Random House',
 '68',
 'Short History of Tractors in Ukrainian,A',
 'Lewycka, Marina',
 '986,115',
 'Penguin',
 '69',
 'Hannibal',
 'Harris, Thomas',
 '970,509',
 'Random House',
 '70',
 'Lord of the Rings,The',
 'Tolkien, J. R. R.',
 '967,466',
 'HarperCollins',
 '71',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Moore, Michael',
 '963,353',
 'Penguin',
 '72',
 'Interpretation of Murder,The',
 'Rubenfeld, Jed',
 '962,515',
 'Headline',
 '73',
 'Sharon Osbourne Extreme:My Autobiography',
 'Osbourne, Sharon',
 '959,496',
 'Little, Brown Book',
 '74',
 'Alchemist,The:A Fable About Following Your Dream',
 'Coelho, Paulo',
 '956,114',
 'HarperCollins',
 '75',
 "At My Mother's Knee ...:and Other Low Joints",
 "O'Grady, Paul",
 '945,640',
 'Transworld',
 '76',
 'Notes from a Small Island',
 'Bryson, Bill',
 '931,312',
 'Transworld',
 '77',
 'Return of the Naked Chef,The',
 'Oliver, Jamie',
 '925,425',
 'Penguin',
 '78',
 'Bridget Jones: The Edge of Reason',
 'Fielding, Helen',
 '924,695',
 'Pan Macmillan',
 '79',
 "Jamie's Italy",
 'Oliver, Jamie',
 '906,968',
 'Penguin',
 '80',
 'I Can Make You Thin',
 'McKenna, Paul',
 '905,086',
 'Transworld',
 '81',
 'Down Under',
 'Bryson, Bill',
 '890,847',
 'Transworld',
 '82',
 'Summons,The',
 'Grisham, John',
 '869,671',
 'Random House',
 '83',
 'Small Island',
 'Levy, Andrea',
 '869,659',
 'Headline',
 '84',
 'Nigella Express',
 'Lawson, Nigella',
 '862,602',
 'Random House',
 '85',
 'Brick Lane',
 'Ali, Monica',
 '856,540',
 'Transworld',
 '86',
 "Memory Keeper's Daughter,The",
 'Edwards, Kim',
 '845,858',
 'Penguin',
 '87',
 'Room on the Broom',
 'Donaldson, Julia',
 '842,535',
 'Pan Macmillan',
 '88',
 'About a Boy',
 'Hornby, Nick',
 '828,215',
 'Penguin',
 '89',
 'My Booky Wook',
 'Brand, Russell',
 '820,563',
 'Hodder & Stoughton',
 '90',
 'God Delusion,The',
 'Dawkins, Richard',
 '816,907',
 'Transworld',
 '91',
 '"Beano" Annual,The',
 '0',
 '816,585',
 'D.C. Thomson',
 '92',
 'White Teeth',
 'Smith, Zadie',
 '815,586',
 'Penguin',
 '93',
 'House at Riverton,The',
 'Morton, Kate',
 '814,370',
 'Pan Macmillan',
 '94',
 'Book Thief,The',
 'Zusak, Markus',
 '809,641',
 'Transworld',
 '95',
 'Nights of Rain and Stars',
 'Binchy, Maeve',
 '808,900',
 'Orion',
 '96',
 'Ghost,The',
 'Harris, Robert',
 '807,311',
 'Random House',
 '97',
 'Happy Days with the Naked Chef',
 'Oliver, Jamie',
 '794,201',
 'Penguin',
 '98',
 'Hunger Games,The:Hunger Games Trilogy',
 'Collins, Suzanne',
 '792,187',
 'Scholastic Ltd.',
 '99',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 'Pelzer, Dave',
 '791,507',
 'Orion',
 '100',
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours",
 'Oliver, Jamie',
 '791,095',
 'Penguin']

In [9]:
Rank=len(title[0::5])

In [12]:
Book=title[1::5]

In [15]:
Author=title[2::5]

In [18]:
vol_sol=title[3::5]

In [20]:
publisher=title[4::5]

In [21]:
ge=driver.find_elements(By.XPATH,'//td[@class="last left"]')

In [22]:
GE=[]
for i in ge:
    GE.append(i.text)

In [24]:
len(GE)

100

In [26]:
df=pd.DataFrame({'Rank':Rank,'Book_Name':Book,'Author_Name':Author,'Volume_sold':vol_sol,'Publisher':publisher,'Genre':GE})

# 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:

In [29]:
url='http://www.imdb.com/list/ls095964455/'
driver.get(url)

In [44]:
Title=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')

In [45]:
title=[]
for i in Title:
    title.append(i.text)

In [94]:
len(title)

100

In [48]:
gen=driver.find_elements(By.XPATH,'//span[@class="genre"]')

In [49]:
GEN=[]
for i in gen:
    GEN.append(i.text)

In [95]:
len(GEN)

100

In [53]:
run=driver.find_elements(By.XPATH,'//span[@class="runtime"]')

In [54]:
RUN=[]
for i in run:
    RUN.append(i.text)

In [56]:
len(RUN)

100

In [57]:
rat=driver.find_elements(By.XPATH,'//span[@class="ipl-rating-star__rating"]')

In [58]:
RAT=[]
for i in rat:
    RAT.append(i.text)

In [98]:
RAT=len(RAT[0::23])

In [85]:
vot=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span')

In [86]:
VOT=[]
for i in vot:
    VOT.append(i.text)

In [96]:
VOT=len(VOT[6::7])

In [99]:
pd.DataFrame({'TITLE':title,'GENRE':GEN,'RUN_TIME':RUN,'RATING':RAT,'VOTES':VOT})

,TITLE,GENRE,RUN_TIME,RATING,VOTES
0,Game of Thrones,"Action, Adventure, Drama",57 min,100,100
1,Stranger Things,"Drama, Fantasy, Horror",51 min,100,100
2,The Walking Dead,"Drama, Horror, Thriller",44 min,100,100
3,13 Reasons Why,"Drama, Mystery, Thriller",60 min,100,100
4,The 100,"Drama, Mystery, Sci-Fi",43 min,100,100
...,...,...,...,...,...
95,Reign,Drama,42 min,100,100
96,A Series of Unfortunate Events,"Adventure, Comedy, Drama",50 min,100,100
97,Criminal Minds,"Crime, Drama, Mystery",42 min,100,100
98,Scream: The TV Series,"Comedy, Crime, Drama",45 min,100,100
99,The Haunting of Hill House,"Drama, Horror, Mystery",572 min,100,100

# 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details

In [135]:
url='https://archive.ics.uci.edu/'
driver.get(url)

In [136]:
view_all=driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]/a')

In [137]:
view_all.click()

In [142]:
link=driver.find_elements(By.XPATH,'//p[@class="normal"]/a')

In [143]:
Link=[]
for i in link:
    Link.append(i.get_attribute('href'))

In [146]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attributes=[]
Year=[]

In [177]:
for i in Link[0:3]:
    driver.get(i)
    time.sleep(3)
    
    try:
        dataset_name=driver.find_element(By.XPATH,"//span[@class='heading']")
        Dataset_name.append(dataset_name.text)
    except NoSuchElementException:
        Dataset_name.append('-')
    time.sleep(3)
    
    
    try:
        task=driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text=="N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    time.sleep(3)
    
    
    try:
        attribute_type=driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[2]")
        if attribute_type.text=="N/A": raise NoSuchElementException
        Attribute_type.append(attribute_type.text)
    except NoSuchElementException:
        Attribute_type.append('-')
    time.sleep(3)
    
    
    try:
        instances=driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[4]")
        if instances.text=="N/A": raise NoSuchElementException
        No_of_instances.append(instances.text)
    except NoSuchElementException:
        No_of_instances.append('-')
    time.sleep(3)
    
    try:
        year=driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')
    time.sleep(3)
    
    try:
        attribute=driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[4]")
        if attribute.text=="N/A": raise NoSuchElementException
        No_of_attributes.append(attribute.text)
    except NoSuchElementException:
        No_of_attributes.append('-')
    time.sleep(3)

In [ ]:
df=pd.DataFrame()
df['dataset_Name']=Dataset_name
df['D_Types=']=Data_type
df['Task']=Task
df['Attribute_type']=Attribute_type
df['No_of_instances']=No_of_instances
df['No_of_attributes']=No_of_attributes
df['Year']=Year

In [ ]:
df